@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Work+Sans:wght@100;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #05101c;
  font-family: "Roboto Slab", serif;
  /* font-family: "Work Sans", sans-serif; */
}
